{% extends 'base.html.twig' %}


{% block title %}{{parent()}} | Home{% endblock %}

 {% block body %}
<h1>Page home</h1>
{% if app.user is not null %}
    {{ app.user.username }}
{% endif %}
{% endblock %}

