{% extends 'base.html.twig' %}


{% block title %}{{parent()}} | List{% endblock %}

 {% block body %}
 <h1>Page list</h1>
 
 {%for wish in wishes%}
 <div class="card text-center">
  <div class="card-header">
    Wish
  </div>
  <div class="card-body">
    <h5 class="card-title">{{wish.title}}</h5>
    <p class="card-text">Written by {{wish.author}}</p>
    <a href="#" class="btn btn-primary">Details</a>
  </div>
</div>

 {% endfor %}
 


{% endblock %}
